.styled-table {
  border-collapse: collapse;
  margin: auto;
  width:90%;
  font-family: 'Marvel';font-size: 1.4em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 1300px) {
  .styled-table {
    font-size: 1.2em;
  }

}

.styled-table thead tr {
  background-color: #009879;
  color: #ffffff;
  text-align: left;
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}




